.rdp {
    background: salmon;
  }
  /* head element */
  .rdp-head {
    font-weight: bold;
    color: blue;
  }

  /* //https://github.com/gpbl/react-day-picker/blob/master/website/docs/guides/styling.mdx// */
